.info {
  display: flex;
  flex-direction: column;
}

.info > * {
  margin-top: 15px;
}

.info > *:first-child {
  margin-top: 0px;
}

.count {
  font-size: 32px;
}

.totalSize {
  font-size: 24px;
}
