.upload {
  background-color: #c6d3fa;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 1px solid black;
}

.label {
  color: black;
  font-weight: 500;
  font-size: 20px;
}

.disabled {
  cursor: default;
}

.input {
  visibility: hidden;
  display: none;
}

@media only screen and (min-width: 960px) {
  .upload {
    padding: 15px 42px;
  }
}
